.inputTask {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  height: 54px;
  width: 100%;
  font-size: 1rem;
  color: var(--gray-100);
  /* Gray 500 */

  background: var(--gray-500);
  /* Gray 700 */

  border: 1px solid var(--gray-700);
  border-radius: 8px;
}