.containerComponent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 64px 24px;
  margin-bottom: 12px;
  width: 100%;

  /* Gray 500 */

  background: var(--gray-500);
  /* Gray 400 */

  border: 1px solid var(--gray-400);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}

.containerComponent img {
  margin: 16px;
}

.containerComponent span {
  font-size: 1rem;
  color: var(--gray-300);
  font-weight: bold;
  line-height: 1.4;
}

.containerComponent p {
  font-size: 1rem;
  color: var(--gray-300);
  line-height: 1.4;
}