.app {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  padding: 64px 24px;

}

.containerInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  position: absolute;
  top: calc(0px - 1.5rem);

  width: 100%;
  max-width: 736px;
  height: 54px;
}

.tasks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 736px;
  padding: 0px;

  width: 100%;
}

.taskHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

header .created {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 17px;
  /* identical to box height */


  /* Blue */

  color: var(--blue);
}

header .done {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 17px;
  /* identical to box height */


  /* Blue */

  color: var(--purple);
}

header span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px 8px;
  margin-left: 0.5rem;

  width: 25px;
  gap: 10px;
  /* Gray 400 */

  background: var(--gray-400);
  border-radius: 10px;
  color: var(--gray-100);
}

.tasksContainer {
  width: 100%;
  border-top: 1px solid var(--gray-400);
  padding-top: 24px;
  margin-top: 24px;
}