.addBtn {
  display: flex;
  align-items: center;
  padding: 16px;
  height: 54px;

  /* Blue Dark */
  background: var(--blue-dark);
  border-radius: 8px;
  color: var(--gray-100);
  font-weight: bold;
  font-size: 0.875rem;

  transition: background-color 0.3s;
}

.addBtn:hover {
  background: var(--blue);
}

.addBtn svg {
  color: var(--gray-100);
  margin-left: 6px;
}